<h1 mat-dialog-title>{{data.companyId ? 'Edit Company' : 'Add Company'}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Company Name</mat-label>
    <input matInput [(ngModel)]="data.companyName" name="companyName" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Company Address</mat-label>
    <input matInput [(ngModel)]="data.companyAddress" name="companyAddress" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
