<h1 mat-dialog-title>{{data.companyId ? 'Edit Company' : 'Add Company'}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Company Name</mat-label>
    <input matInput [(ngModel)]="data.companyName" name="companyName" required>
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Company Address</mat-label>
    <input matInput [(ngModel)]="data.companyAddress" name="companyAddress" required>
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width" *ngIf="role === 'RoleA'">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" name="email" required>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
